# Cyclistic Trip Data Analysis

Collecting the last 12 months worth of Cyclistic trip data.<br>
Data was downloaded as zip files from [Divvy](https://divvy-tripdata.s3.amazonaws.com/index.html) under this [license](https://www.divvybikes.com/data-license-agreement).<br>
(_The data was made available by Motivate International Inc._)

In [1]:
# Importing required libraries
import os # for interacting with the operating system
import pandas as pd # for working with tabular data

## Load csv files into a dataframe

In [2]:
# Get csv file path
file_path = os.getcwd() + "\\Original_data_20221127\\"

In [3]:
# Get a list of all the trip data csv files
tripdata_files = os.listdir(file_path)
tripdata_files

['202111-divvy-tripdata.csv',
 '202112-divvy-tripdata.csv',
 '202201-divvy-tripdata.csv',
 '202202-divvy-tripdata.csv',
 '202203-divvy-tripdata.csv',
 '202204-divvy-tripdata.csv',
 '202205-divvy-tripdata.csv',
 '202206-divvy-tripdata.csv',
 '202207-divvy-tripdata.csv',
 '202208-divvy-tripdata.csv',
 '202209-divvy-publictripdata.csv',
 '202210-divvy-tripdata.csv']

In [4]:
# Check length of the list, should be 12 files representing the last 12 months trip data
len(tripdata_files)

12

In [5]:
# Combine all the csv files into one dataframe 
trip_data = pd.concat([pd.read_csv(file_path+filename) for filename in tripdata_files])
trip_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7C00A93E10556E47,electric_bike,2021-11-27 13:27:38,2021-11-27 13:46:38,NaN,NaN,NaN,NaN,41.930000,-87.720000,41.960000,-87.730000,casual
1,90854840DFD508BA,electric_bike,2021-11-27 13:38:25,2021-11-27 13:56:10,NaN,NaN,NaN,NaN,41.960000,-87.700000,41.920000,-87.700000,casual
2,0A7D10CDD144061C,electric_bike,2021-11-26 22:03:34,2021-11-26 22:05:56,NaN,NaN,NaN,NaN,41.960000,-87.700000,41.960000,-87.700000,casual
3,2F3BE33085BCFF02,electric_bike,2021-11-27 09:56:49,2021-11-27 10:01:50,NaN,NaN,NaN,NaN,41.940000,-87.790000,41.930000,-87.790000,casual
4,D67B4781A19928D4,electric_bike,2021-11-26 19:09:28,2021-11-26 19:30:41,NaN,NaN,NaN,NaN,41.900000,-87.630000,41.880000,-87.620000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
558680,BC3BFA659C9AB6F1,classic_bike,2022-10-30 01:41:29,2022-10-30 01:57:16,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558681,ACD65450291CF95F,classic_bike,2022-10-30 01:41:54,2022-10-30 01:57:09,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558682,4AAC03D1438E97CA,classic_bike,2022-10-15 09:34:11,2022-10-15 10:03:21,Sedgwick St & North Ave,TA1307000038,Wabash Ave & Grand Ave,TA1307000117,41.911386,-87.638677,41.891466,-87.626761,casual
558683,8E6F3F29785E5D40,classic_bike,2022-10-09 10:21:34,2022-10-09 10:43:45,Sedgwick St & North Ave,TA1307000038,Damen Ave & Clybourn Ave,13271,41.911386,-87.638677,41.931931,-87.677856,member
558684,8D14CBE672431920,docked_bike,2022-10-22 13:17:13,2022-10-22 13:46:14,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual

## Inspect the data

In [6]:
# Check column names and data types  
trip_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5755694 entries, 0 to 558684
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 614.8+ MB

In [7]:
# Get summary statistics
trip_data.describe(include="all")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
count,5755694,5755694,5755694,5755694,4877517,4877517,4815684,4815684,5.755694e+06,5.755694e+06,5.749859e+06,5.749859e+06,5755694
unique,5755694,3,4824622,4836310,1639,1306,1663,1314,NaN,NaN,NaN,NaN,2
top,7C00A93E10556E47,electric_bike,2022-05-30 13:05:15,2022-08-22 12:47:49,Streeter Dr & Grand Ave,13022,Streeter Dr & Grand Ave,13022,NaN,NaN,NaN,NaN,member
freq,1,2935552,9,20,75631,75631,76002,76002,NaN,NaN,NaN,NaN,3402661
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.190167e+01,-8.764782e+01,4.190192e+01,-8.764802e+01,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.677934e-02,3.050527e-02,4.688818e-02,3.009472e-02,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.164000e+01,-8.784000e+01,4.139000e+01,-8.897000e+01,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.188103e+01,-8.766201e+01,4.188103e+01,-8.766356e+01,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.190000e+01,-8.764410e+01,4.190000e+01,-8.764414e+01,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.193000e+01,-8.762952e+01,4.193000e+01,-8.762954e+01,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.563503e+01,-7.379648e+01,4.237000e+01,-8.730000e+01,NaN

In [8]:
# Transform the 'started_at' and 'ended_at' to datetime objects
trip_data["started_at"] = pd.to_datetime(trip_data["started_at"])
trip_data["ended_at"] = pd.to_datetime(trip_data["ended_at"])

In [9]:
# Check data types
trip_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5755694 entries, 0 to 558684
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 614.8+ MB

In [10]:
trip_data.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,7C00A93E10556E47,electric_bike,2021-11-27 13:27:38,2021-11-27 13:46:38,NaN,NaN,NaN,NaN,41.93,-87.72,41.96,-87.73,casual
1,90854840DFD508BA,electric_bike,2021-11-27 13:38:25,2021-11-27 13:56:10,NaN,NaN,NaN,NaN,41.96,-87.70,41.92,-87.70,casual
2,0A7D10CDD144061C,electric_bike,2021-11-26 22:03:34,2021-11-26 22:05:56,NaN,NaN,NaN,NaN,41.96,-87.70,41.96,-87.70,casual
3,2F3BE33085BCFF02,electric_bike,2021-11-27 09:56:49,2021-11-27 10:01:50,NaN,NaN,NaN,NaN,41.94,-87.79,41.93,-87.79,casual
4,D67B4781A19928D4,electric_bike,2021-11-26 19:09:28,2021-11-26 19:30:41,NaN,NaN,NaN,NaN,41.90,-87.63,41.88,-87.62,casual

In [11]:
trip_data.tail()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
558680,BC3BFA659C9AB6F1,classic_bike,2022-10-30 01:41:29,2022-10-30 01:57:16,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558681,ACD65450291CF95F,classic_bike,2022-10-30 01:41:54,2022-10-30 01:57:09,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558682,4AAC03D1438E97CA,classic_bike,2022-10-15 09:34:11,2022-10-15 10:03:21,Sedgwick St & North Ave,TA1307000038,Wabash Ave & Grand Ave,TA1307000117,41.911386,-87.638677,41.891466,-87.626761,casual
558683,8E6F3F29785E5D40,classic_bike,2022-10-09 10:21:34,2022-10-09 10:43:45,Sedgwick St & North Ave,TA1307000038,Damen Ave & Clybourn Ave,13271,41.911386,-87.638677,41.931931,-87.677856,member
558684,8D14CBE672431920,docked_bike,2022-10-22 13:17:13,2022-10-22 13:46:14,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual

It appears that there is missing data for 'start_station_name', 'start_station_id', 'end_station_name', and 'end_station_id', 'end_lat', and 'end_lng'<br>
First, drop the rows with null values and compare member types against trip duration, monthly usage, 'start_station_name', 'end_station_name', and rideable type.<br>
Second, map 'start_station_name', 'start_station_id', 'end_station_name', and 'end_station_id' with the 'start_lat', 'start_lng', 'end_lat', and 'end_lng'.

In [12]:
# CheckiNG columns for nulls
for col in trip_data.columns:
    print("="*45)
    print(f"Checking {col} for null values....\n")
    print(trip_data[col].isnull().value_counts())
    print("="*45)

===================================
Checking ride_id for null values....

False    5755694
Name: ride_id, dtype: int64
===================================
===================================
Checking rideable_type for null values....

False    5755694
Name: rideable_type, dtype: int64
===================================
===================================
Checking started_at for null values....

False    5755694
Name: started_at, dtype: int64
===================================
===================================
Checking ended_at for null values....

False    5755694
Name: ended_at, dtype: int64
===================================
===================================
Checking start_station_name for null values....

False    4877517
True      878177
Name: start_station_name, dtype: int64
===================================
===================================
Checking start_station_id for null values....

False    4877517
True      878177
Name: start_station_id, dtype: int64
===================================
===================================
Checking end_station_name for null values....

False    4815684
True      940010
Name: end_station_name, dtype: int64
===================================
===================================
Checking end_station_id for null values....

False    4815684
True      940010
Name: end_station_id, dtype: int64
===================================
===================================
Checking start_lat for null values....

False    5755694
Name: start_lat, dtype: int64
===================================
===================================
Checking start_lng for null values....

False    5755694
Name: start_lng, dtype: int64
===================================
===================================
Checking end_lat for null values....

False    5749859
True        5835
Name: end_lat, dtype: int64
===================================
===================================
Checking end_lng for null values....

False    5749859
True        5835
Name: end_lng, dtype: int64
===================================
===================================
Checking member_casual for null values....

False    5755694
Name: member_casual, dtype: int64
===================================

In [13]:
trip_data["trip_duration"] = trip_data["ended_at"] - trip_data["started_at"]
trip_data

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
0,7C00A93E10556E47,electric_bike,2021-11-27 13:27:38,2021-11-27 13:46:38,NaN,NaN,NaN,NaN,41.930000,-87.720000,41.960000,-87.730000,casual,0 days 00:19:00
1,90854840DFD508BA,electric_bike,2021-11-27 13:38:25,2021-11-27 13:56:10,NaN,NaN,NaN,NaN,41.960000,-87.700000,41.920000,-87.700000,casual,0 days 00:17:45
2,0A7D10CDD144061C,electric_bike,2021-11-26 22:03:34,2021-11-26 22:05:56,NaN,NaN,NaN,NaN,41.960000,-87.700000,41.960000,-87.700000,casual,0 days 00:02:22
3,2F3BE33085BCFF02,electric_bike,2021-11-27 09:56:49,2021-11-27 10:01:50,NaN,NaN,NaN,NaN,41.940000,-87.790000,41.930000,-87.790000,casual,0 days 00:05:01
4,D67B4781A19928D4,electric_bike,2021-11-26 19:09:28,2021-11-26 19:30:41,NaN,NaN,NaN,NaN,41.900000,-87.630000,41.880000,-87.620000,casual,0 days 00:21:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558680,BC3BFA659C9AB6F1,classic_bike,2022-10-30 01:41:29,2022-10-30 01:57:16,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual,0 days 00:15:47
558681,ACD65450291CF95F,classic_bike,2022-10-30 01:41:54,2022-10-30 01:57:09,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual,0 days 00:15:15
558682,4AAC03D1438E97CA,classic_bike,2022-10-15 09:34:11,2022-10-15 10:03:21,Sedgwick St & North Ave,TA1307000038,Wabash Ave & Grand Ave,TA1307000117,41.911386,-87.638677,41.891466,-87.626761,casual,0 days 00:29:10
558683,8E6F3F29785E5D40,classic_bike,2022-10-09 10:21:34,2022-10-09 10:43:45,Sedgwick St & North Ave,TA1307000038,Damen Ave & Clybourn Ave,13271,41.911386,-87.638677,41.931931,-87.677856,member,0 days 00:22:11
558684,8D14CBE672431920,docked_bike,2022-10-22 13:17:13,2022-10-22 13:46:14,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual,0 days 00:29:01

In [14]:
trip_data["member_casual"].value_counts(normalize=True)

member    0.591182
casual    0.408818
Name: member_casual, dtype: float64

In [15]:
trip_data["rideable_type"].value_counts(normalize=True)

electric_bike    0.510026
classic_bike     0.458318
docked_bike      0.031656
Name: rideable_type, dtype: float64

In [16]:
trip_data.groupby(["member_casual", "rideable_type"])["ride_id"].count().unstack()

rideable_type  classic_bike  docked_bike  electric_bike
member_casual
casual             897427.0     182205.0      1273401.0
member            1740510.0          NaN      1662151.0

In [20]:
trip_data.groupby("member_casual")["trip_duration"].agg(["count", "min", "max", "mean"])

,count,min,max,mean
member_casual,,,,
casual,2353033,-1 days +21:42:35,28 days 17:47:15,0 days 00:29:10.206343472
member,3402661,-8 days +19:26:39,1 days 01:59:54,0 days 00:12:42.663126006

The min trip duration indicates that there could be inaccurate dates in the dataset

# Rerun without null values

In [21]:
trip_data.dropna(inplace=True)
len(trip_data)

4410438

In [25]:
trip_data.describe(include="all", datetime_is_numeric=True)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
count,4410438,4410438,4410438,4410438,4410438,4410438,4410438,4410438,4.410438e+06,4.410438e+06,4.410438e+06,4.410438e+06,4410438,4410438
unique,4410438,3,NaN,NaN,1521,1259,1573,1274,NaN,NaN,NaN,NaN,2,NaN
top,4CA9676997DAFFF6,classic_bike,NaN,NaN,Streeter Dr & Grand Ave,13022,Streeter Dr & Grand Ave,13022,NaN,NaN,NaN,NaN,member,NaN
freq,1,2633599,NaN,NaN,71615,71615,73136,73136,NaN,NaN,NaN,NaN,2642256,NaN
mean,NaN,NaN,2022-06-15 05:39:32.978401024,2022-06-15 05:56:47.487372544,NaN,NaN,NaN,NaN,4.190216e+01,-8.764476e+01,4.190246e+01,-8.764502e+01,NaN,0 days 00:17:14.508969403
min,NaN,NaN,2021-11-01 00:00:14,2021-11-01 00:04:06,NaN,NaN,NaN,NaN,4.164850e+01,-8.783332e+01,4.164850e+01,-8.783000e+01,NaN,-1 days +21:11:18
25%,NaN,NaN,2022-05-02 12:46:15.249999872,2022-05-02 13:00:55,NaN,NaN,NaN,NaN,4.188118e+01,-8.765814e+01,4.188132e+01,-8.765840e+01,NaN,0 days 00:06:05
50%,NaN,NaN,2022-06-30 17:52:01,2022-06-30 18:08:17,NaN,NaN,NaN,NaN,4.189694e+01,-8.764171e+01,4.189766e+01,-8.764275e+01,NaN,0 days 00:10:40
75%,NaN,NaN,2022-08-24 06:56:28.750000128,2022-08-24 07:06:09.249999872,NaN,NaN,NaN,NaN,4.192875e+01,-8.762858e+01,4.192883e+01,-8.762858e+01,NaN,0 days 00:19:07
max,NaN,NaN,2022-10-31 23:59:33,2022-11-01 08:59:46,NaN,NaN,NaN,NaN,4.563503e+01,-7.379648e+01,4.206497e+01,-8.752823e+01,NaN,23 days 20:34:04
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.235369e-02,2.561084e-02,4.249591e-02,2.494814e-02,NaN,0 days 00:57:15.484556847

In [23]:
for col in trip_data.columns:
    print("="*45)
    print(f"Checking {col} for null values....\n")
    print(trip_data[col].isnull().value_counts())
    print("="*45)

=============================================
Checking ride_id for null values....

False    4410438
Name: ride_id, dtype: int64
=============================================
=============================================
Checking rideable_type for null values....

False    4410438
Name: rideable_type, dtype: int64
=============================================
=============================================
Checking started_at for null values....

False    4410438
Name: started_at, dtype: int64
=============================================
=============================================
Checking ended_at for null values....

False    4410438
Name: ended_at, dtype: int64
=============================================
=============================================
Checking start_station_name for null values....

False    4410438
Name: start_station_name, dtype: int64
=============================================
=============================================
Checking start_station_id for null values....

False    4410438
Name: start_station_id, dtype: int64
=============================================
=============================================
Checking end_station_name for null values....

False    4410438
Name: end_station_name, dtype: int64
=============================================
=============================================
Checking end_station_id for null values....

False    4410438
Name: end_station_id, dtype: int64
=============================================
=============================================
Checking start_lat for null values....

False    4410438
Name: start_lat, dtype: int64
=============================================
=============================================
Checking start_lng for null values....

False    4410438
Name: start_lng, dtype: int64
=============================================
=============================================
Checking end_lat for null values....

False    4410438
Name: end_lat, dtype: int64
=============================================
=============================================
Checking end_lng for null values....

False    4410438
Name: end_lng, dtype: int64
=============================================
=============================================
Checking member_casual for null values....

False    4410438
Name: member_casual, dtype: int64
=============================================
=============================================
Checking trip_duration for null values....

False    4410438
Name: trip_duration, dtype: int64
=============================================

In [26]:
trip_data["member_casual"].value_counts(normalize=True)

member    0.599092
casual    0.400908
Name: member_casual, dtype: float64

In [27]:
trip_data["rideable_type"].value_counts(normalize=True)

classic_bike     0.597129
electric_bike    0.362142
docked_bike      0.040730
Name: rideable_type, dtype: float64

In [29]:
trip_data.groupby(["rideable_type", "member_casual"])["ride_id"].count().unstack()

member_casual    casual     member
rideable_type
classic_bike   894622.0  1738977.0
docked_bike    179635.0        NaN
electric_bike  693925.0   903279.0

In [33]:
trip_data.groupby(["rideable_type", "member_casual"])["member_casual"].count().unstack()

member_casual    casual     member
rideable_type
classic_bike   894622.0  1738977.0
docked_bike    179635.0        NaN
electric_bike  693925.0   903279.0

In [30]:
trip_data.groupby("member_casual")["trip_duration"].agg(["count", "min", "max", "mean"])

,count,min,max,mean
member_casual,,,,
casual,1768182,-1 days +21:52:59,23 days 20:34:04,0 days 00:24:23.855311840
member,2642256,-1 days +21:11:18,1 days 00:52:55,0 days 00:12:27.192950645

# Differences between annual members and casual riders

In [34]:
trip_data.head(13)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
45,4CA9676997DAFFF6,classic_bike,2021-11-26 10:27:28,2021-11-26 11:22:13,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual,0 days 00:54:45
127,F3E84A230AF2D676,classic_bike,2021-11-15 09:35:03,2021-11-15 09:42:08,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950780,-87.659172,41.967096,-87.667429,casual,0 days 00:07:05
190,A1F2C92308007968,electric_bike,2021-11-10 16:27:02,2021-11-10 17:04:28,Leamington Ave & Hirsch St,307,Leamington Ave & Hirsch St,307,41.910000,-87.750000,41.910000,-87.750000,casual,0 days 00:37:26
211,9B871C3B14E9BEC4,classic_bike,2021-11-09 19:51:36,2021-11-09 20:11:17,Desplaines St & Kinzie St,TA1306000003,Desplaines St & Kinzie St,TA1306000003,41.888716,-87.644448,41.888716,-87.644448,casual,0 days 00:19:41
256,2A81E957DD24A3DC,classic_bike,2021-11-06 19:14:10,2021-11-06 19:33:19,Larrabee St & Armitage Ave,TA1309000006,Michigan Ave & Oak St,13042,41.918084,-87.643749,41.900960,-87.623777,casual,0 days 00:19:09
349,A57F8F504A01004E,electric_bike,2021-11-18 11:58:24,2021-11-18 12:08:35,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.901137,-87.623532,41.901001,-87.623752,casual,0 days 00:10:11
390,C79A70DFD07E75D9,electric_bike,2021-11-23 22:14:11,2021-11-23 22:44:01,Sheridan Rd & Noyes St (NU),604,Sheridan Rd & Noyes St (NU),604,42.058200,-87.677553,42.058253,-87.677515,casual,0 days 00:29:50
402,41E7F8FB5640B521,electric_bike,2021-11-05 16:48:10,2021-11-05 16:53:18,Clark St & Grace St,TA1307000127,Clark St & Leland Ave,TA1309000014,41.950859,-87.659128,41.967070,-87.667451,member,0 days 00:05:08
410,3DEAAA1701BBD1D3,electric_bike,2021-11-18 08:40:38,2021-11-18 08:48:56,Desplaines St & Kinzie St,TA1306000003,Dearborn St & Monroe St,TA1305000006,41.888628,-87.644372,41.881603,-87.630134,member,0 days 00:08:18
411,0026AAE4DD3E4BD8,electric_bike,2021-11-14 20:29:33,2021-11-14 20:33:13,Kingsbury St & Kinzie St,KA1503000043,Desplaines St & Kinzie St,TA1306000003,41.889146,-87.638495,41.888716,-87.644274,member,0 days 00:03:40
412,CE056701A6BDBADF,classic_bike,2021-11-14 18:36:11,2021-11-14 18:38:56,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member,0 days 00:02:45
470,46452491C5FC2AA2,classic_bike,2021-11-28 15:29:12,2021-11-28 15:29:46,Kingsbury St & Kinzie St,KA1503000043,Kingsbury St & Kinzie St,KA1503000043,41.889177,-87.638506,41.889177,-87.638506,member,0 days 00:00:34
490,BFB364AEA4BD55BD,classic_bike,2021-11-09 08:25:59,2021-11-09 08:33:49,Kingsbury St & Kinzie St,KA1503000043,Dearborn St & Monroe St,TA1305000006,41.889177,-87.638506,41.881320,-87.629521,member,0 days 00:07:50

In [37]:
for station in ["start_station_name", "end_station_name"]:
    print("="*50)
    print(trip_data.groupby([station, "member_casual"])["ride_id"].count().unstack())
    print("="*50)

==================================================
member_casual                      casual  member
start_station_name
10101 S Stony Island Ave              1.0     NaN
111th St - Morgan Park Metra          5.0     2.0
2112 W Peterson Ave                 360.0   444.0
532 E 43rd St                         5.0    12.0
63rd & Western Ave - north corner     5.0     NaN
...                                   ...     ...
Yale Ave & 119th St                   1.0     NaN
Yates Blvd & 75th St                143.0    90.0
Yates Blvd & 93rd St                 25.0    53.0
Yates Blvd & Exchange Ave             5.0     NaN
Zapata Academy                        2.0     NaN

[1521 rows x 2 columns]
==================================================
==================================================
member_casual                      casual  member
end_station_name
10101 S Stony Island Ave              2.0     2.0
111th St - Morgan Park Metra          5.0     NaN
2112 W Peterson Ave                 399.0   536.0
532 E 43rd St                         4.0    10.0
63rd & Western Ave - north corner    10.0     1.0
...                                   ...     ...
Yale Ave & 119th St                   1.0     NaN
Yates Blvd & 75th St                159.0    99.0
Yates Blvd & 93rd St                 28.0    36.0
Yates Blvd & Exchange Ave             4.0     3.0
Zapata Academy                        1.0     NaN

[1573 rows x 2 columns]
==================================================

In [39]:
trip_data[trip_data["ended_at"]<trip_data["started_at"]]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,trip_duration
10185,B029250A1EFF2975,docked_bike,2021-11-07 01:40:02,2021-11-07 01:05:46,Halsted St & Dickens Ave,13192,Leavitt St & Division St,658,41.919936,-87.648830,41.902997,-87.683825,casual,-1 days +23:25:44
11041,D631251FA9C7FC03,classic_bike,2021-11-07 01:52:53,2021-11-07 01:05:22,Clark St & Newport St,632,Racine Ave & Fullerton Ave,TA1306000026,41.944540,-87.654678,41.925563,-87.658404,member,-1 days +23:12:29
12076,021DC77C70A3E367,classic_bike,2021-11-07 01:40:13,2021-11-07 01:00:29,New St & Illinois St,TA1306000013,Michigan Ave & 8th St,623,41.890847,-87.618617,41.872773,-87.623981,casual,-1 days +23:20:16
23950,235ACD294AFB837F,electric_bike,2021-11-07 01:34:03,2021-11-07 01:17:13,Sheridan Rd & Lawrence Ave,TA1309000041,Damen Ave & Thomas St (Augusta Blvd),TA1307000070,41.969481,-87.654727,41.901426,-87.677428,member,-1 days +23:43:10
29040,6A2DCA5CB1596CA6,classic_bike,2021-11-07 01:54:25,2021-11-07 01:03:44,Franklin St & Illinois St,RN-,Mies van der Rohe Way & Chicago Ave,13338,41.891023,-87.635480,41.896910,-87.621743,casual,-1 days +23:09:19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215983,4890C455C466940F,electric_bike,2022-09-08 18:00:55,2022-09-08 18:00:32,Lincoln Ave & Roscoe St*,chargingstx5,Lincoln Ave & Roscoe St*,chargingstx5,41.943246,-87.670936,41.943350,-87.670668,member,-1 days +23:59:37
230627,BB630AE8E6017B58,electric_bike,2022-09-05 17:56:42,2022-09-05 17:56:41,Millennium Park,13008,Millennium Park,13008,41.881182,-87.623962,41.881032,-87.624084,casual,-1 days +23:59:59
477655,47E70E6F8939C541,electric_bike,2022-09-08 15:55:54,2022-09-08 15:53:24,Halsted St & Roscoe St,TA1309000025,Halsted St & Roscoe St,TA1309000025,41.943648,-87.648931,41.943670,-87.648950,casual,-1 days +23:57:30
10284,F9A1F8F99C1EFBF5,electric_bike,2022-10-03 08:55:01,2022-10-03 08:54:45,Chicago Ave & Sheridan Rd,E008,Chicago Ave & Sheridan Rd,E008,42.050523,-87.677829,42.050491,-87.677821,member,-1 days +23:59:44
154251,918F745F62CAC29E,classic_bike,2022-10-13 14:42:10,2022-10-13 11:53:28,Wilton Ave & Diversey Pkwy*,chargingstx0,Wilton Ave & Diversey Pkwy*,chargingstx0,41.932418,-87.652705,41.932418,-87.652705,member,-1 days +21:11:18

In [44]:
trip_data.plot()

Error in callback <function install_repl_displayhook.<locals>.post_execute at 0x0000016183DBCB80> (for post_execute):

OverflowError: int too big to convert

OverflowError: int too big to convert